---
import BentoElement from "@/elements/BentoElement.astro";
import Section from "@/Section.astro";
---

<Section title="Sobre Mí" id="about">
	<BentoElement>
		<p class="text-responsive">
			Desarrollador Front-End con más de 2 años de experiencia en
			proyectos web, donde he aplicado mis conocimientos en <strong
				class="text-primary"
				>HTML, CSS, JavaScript, Tailwind CSS, Astro y Git</strong
			>. Estas habilidades son fundamentales en mi formación como
			estudiante de Sistemas, donde me especializo en <strong
				class="text-secondary"
				>programación en C, arquitectura de computadoras y diseño de
				algoritmos</strong
			>, enriqueciendo así mi comprensión del desarrollo de software.
		</p>
		<p class="text-responsive">
			Constantemente busco superar las expectativas de los usuarios,
			creando sitios web óptimos con especial atención en el <strong
				class="text-primary">rendimiento y la accesibilidad</strong
			>. Poseo un gran interés en el diseño y las últimas tendencias,
			conocimientos que aplico para ofrecer interfaces y experiencias de
			usuario que no solo son impecables, sino también elegantes y
			minimalistas.
		</p>
		<p class="text-responsive">
			Mi compromiso con la mejora continua me convierte en un <strong
				class="text-secondary"
				>recurso valioso para equipos que buscan avanzar y alcanzar sus
				metas</strong
			>. Destaco por mi habilidad colaborativa, demostrada en mi capacidad
			para afrontar desafíos exigentes, transformar obstáculos en
			oportunidades y entregar resultados sobresalientes.
		</p>
	</BentoElement>
</Section>
