---
import imageLuxury from "@/images/mockup-luxury.avif";
import imagePortfolioMinimalista from "@/images/mockup-minimalist-portfolio.avif";
import InfoProject from "@/elements/BentoProject.astro";
import Section from "@/Section.astro";
---

<Section title="Proyectos" id="projects">
	<InfoProject
		name="Portfolio Minimalista"
		description="Creación de un portfolio minimalista diseñado para exhibir mi información personal y profesional de manera clara y concisa. Este espacio digital está pensado para destacar logros y proyectos, ofreciendo una navegación intuitiva y una presentación elegante."
		github="https://github.com/ignaciorevainera/minimalist-portfolio"
		deploy="https://minimalist-portfolio-dusky.vercel.app/"
		alt="Portfolio Minimalista"
		image={imagePortfolioMinimalista}
		tags={["HTML", "CSS", "JavaScript", "Tailwind CSS", "Astro"]}
	/>
	<InfoProject
		name="Luxury"
		description="Desarrollo de una página web que simula el entorno de una concesionaria de autos de lujo. Este proyecto se centra en replicar la atmósfera exclusiva de una sala de exposición de vehículos de alta gama, permitiendo a los visitantes explorar el catálogo de manera interactiva y sofisticada."
		github="https://github.com/ignaciorevainera/concesionaria-luxury"
		deploy="https://concesionaria-luxury.vercel.app/"
		alt="Luxury"
		image={imageLuxury}
		tags={["HTML", "CSS", "JavaScript", "Bootstrap"]}
	/>
</Section>
