---
import AstroBuild from "@/logos/Astro-Build.astro";
import Bootstrap from "@/logos/Bootstrap.astro";
import C from "@/logos/C-Programming.astro";
import CSS3 from "@/logos/CSS3.astro";
import Drive from "@/logos/Google-Drive.astro";
import Excel from "@/logos/Microsoft-Excel.astro";
import Git from "@/logos/Git.astro";
import HTML5 from "@/logos/HTML-5.astro";
import JavaScript from "@/logos/JavaScript.astro";
import PowerPoint from "@/logos/Microsoft-PowerPoint.astro";
import Python from "@/logos/Python.astro";
import Section from "@/Section.astro";
import Tailwind from "@/logos/Tailwind-CSS.astro";
import Word from "@/logos/Microsoft-Word.astro";
---

<Section title="Tecnologías" id="technologies">
	<section class="flex flex-col gap-4 xs:flex-row">
		<section class="section-technologies">
			<h3 class="text-xl font-semibold">Desarrollo</h3>
			<div class="technologies-container">
				<HTML5 />
				<CSS3 />
				<Tailwind />
				<Bootstrap />
				<JavaScript />
				<AstroBuild />
				<Python />
				<C />
				<Git />
			</div>
		</section>
		<section class="section-technologies">
			<h3 class="text-xl font-semibold">Ofimática</h3>
			<div class="technologies-container">
				<Drive />
				<Excel />
				<PowerPoint />
				<Word />
			</div>
		</section>
	</section>
</Section>
