---
import About from "@/sections/About.astro";
import Education from "@/sections/Education.astro";
import Experience from "@/sections/Experience.astro";
import Hero from "@/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "@/sections/Projects.astro";
import Technologies from "@/sections/Technologies.astro";
---

<Layout title="Ignacio Jesús Revainera | Portfolio">
	<main class="xs:px-2 sm:px-4">
		<Hero />
		<Experience />
		<Education />
		<Projects />
		<Technologies />
		<About />
	</main>
</Layout>
