---
import Hero from "@/sections/Hero.astro";
import Experience from "@/sections/Experience.astro";
import Education from "@/sections/Education.astro";
import Projects from "@/sections/Projects.astro";
import Technologies from "@/sections/Technologies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ignacio Jesús Revainera | Portfolio">
	<main class="xs:px-2 sm:px-4">
		<Hero />
		<Experience />
		<Education />
		<Projects />
		<Technologies />
		<h1>Ignacio Jesús Revainera</h1>
		<h2>
			Desarrollador Web Frontend con más de 2 años de experiencia en
			rendimiento, diseño y accesibilidad
		</h2>
	</main>
</Layout>
