---
import Hero from "@/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ignacio Jesús Revainera | Portfolio">
	<main>
		<Hero />
		<h1>Ignacio Jesús Revainera</h1>
		<h2>
			Desarrollador Web Frontend con más de 2 años de experiencia en
			rendimiento, diseño y accesibilidad
		</h2>
	</main>
</Layout>
