---
const { title, id } = Astro.props;
---

<section class="mb-12 flex flex-col gap-10" id={id}>
	<h1 class="text-center text-3xl font-bold xs:text-4xl lg:text-left">
		{title}
	</h1>
	<slot />
</section>
