---
import Header from "@/sections/Header.astro";
import "@fontsource-variable/geologica";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Ignacio Revainera" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#603cba" />
		<meta name="msapplication-TileColor" content="#603cba" />
		<meta name="theme-color" content="#ffffff" />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		scroll-behavior: smooth;
	}
	html {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	body {
		font-family: "Geologica Variable", sans-serif;
		width: 80ch;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tag {
		@apply rounded bg-base-300 px-2 py-1 text-xs font-semibold sm:text-sm;
	}

	.tag-btn-container {
		@apply flex flex-wrap gap-2;
	}

	.btn-rounded {
		@apply rounded transition-all hover:rounded-lg;
	}

	.text-responsive {
		@apply text-pretty text-sm xs:text-base;
	}

	.text-title-responsive {
		@apply text-center text-3xl font-bold xs:text-4xl lg:text-left;
	}

	.section-technologies {
		@apply card flex flex-col gap-4 rounded-none bg-base-200 p-6 shadow-2xl transition-all hover:bg-base-300 xs:rounded;
	}

	.technologies-container {
		@apply flex flex-row flex-wrap items-center justify-center gap-x-6 *:size-16 xs:*:size-20 sm:*:size-24 md:*:size-auto;
	}
</style>
